<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6930307600721" version="0.0.1">
    <name>learn</name>
    <description>Example For APICloud.</description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">Developer</author>
    <content src="login.html"/>
    <preference name="pageBounce" value="false"/>
    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
    <preference name="hScrollBarEnabled" value="true"/>
    <preference name="vScrollBarEnabled" value="true"/>
    <preference name="autoLaunch" value="true"/>
    <preference name="fullScreen" value="false"/>
    <preference name="autoUpdate" value="true"/>
    <preference name="smartUpdate" value="true"/>
    <preference name="debug" value="false"/>
    <preference name="statusBarAppearance" value="true"/>
    <permission name="readPhoneState"/>
    <permission name="camera"/>
    <permission name="record"/>
    <permission name="location"/>
    <permission name="fileSystem"/>
    <permission name="internet"/>
    <permission name="bootCompleted"/>
    <permission name="hardware"/>
    <access origin="*"/>
    <feature name="smsVerify">
        <param name="android_app_key" value="1b19a79da632e"/>
        <param name="android_app_secret" value="bef4e5ca924ed3ae5e45e8c108587eb4"/>

    </feature>
</widget>
